Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [91]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_list=sorted(l, key=lambda x: x[1])
print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Using Lambda function
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_sq=lambda x: [i**2 for i in x]
num_sq(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Using Map & Lambda function
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_sq=map(lambda x: x**2, l)
list(num_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
#Using Map and Lambda function
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda s: str(s), l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
#Using Lambda function
s=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=lambda x: [str(i) for i in x]
tuple(a(s))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [ ]:
#Using Reduce Function
from functools import reduce
l=list(range(1, 26))
reduce(lambda x, y: x*y, l)

15511210043330985984000000

In [ ]:
#Using Without Reduce Function
from functools import reduce
product=1
l=list(range(1, 26))
for i in l:
  product=product*i
product

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [ ]:
list(filter(lambda x: x%2==0 and x%3==0,  [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python', 'php', 'aba', 'radar', 'level']

In [105]:
l=['python', 'php', 'aba', 'radar', 'level']
a=lambda x: x==x[::-1]
list(filter(a, l))

['php', 'aba', 'radar', 'level']

In [117]:
#Without using filter Function
l=['python', 'php', 'aba', 'radar', 'level']
a=lambda x: x[::-1]
new_list=list(map(a, l))
for x, y in zip(l, new_list):#With the help of Zip function, combined 2 iterator index to index value
  if x==y:
    print(x)

php
aba
radar
level

In [116]:
list(zip(l, new_list))

[('python', 'nohtyp'),
 ('php', 'php'),
 ('aba', 'aba'),
 ('radar', 'radar'),
 ('level', 'level')]