**Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the range of 1 to 25.**

In [8]:
#Method: 1
def odd_numbers():
  add_list=[]
  for i in range(1, 25):
    if i%2!=0:
      add_list.append(i)
  return print(f'Odd number list:\n{add_list}')

In [9]:
odd_numbers()

Odd number list:
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [6]:
#Method: 2
def odd_numbers():
  add_list=[]
  for i in range(1, 25, 2):
    add_list.append(i)
  return print(f'Odd number list:\n{add_list}')

In [7]:
odd_numbers()

Odd number list:
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

Q2. Why  *args and **kwargs is used in some functions? Create a function each for *args and **kwargs to demonstrate their use.

In [19]:
#args - Used to pass a variable number of arguments to a function.It takes input as a tuple, which means you can pass multiple values to it, and they will be accessible inside the function.
#**kwargs - Used to pass a variable number of keyword arguments (in key-value pairs).It takes input as a dictionary, allowing the function to handle named arguments dynamically.

Sum of all number = 21

In [51]:
# Let's expalin it by Example
#*args
def add_numbers(*args):
  '''This function takes only numeric value as input/argument'''
  total = 0
  for num in args:
        total += num
  return total

print(f'Sum of all number = {add_numbers(2, 3, 4,6, 6)}')

Sum of all number = 21

In [45]:
#**kwargs
def word_concat(**kwargs):
  '''This function takes only String value as input/argument'''
  new_word = ''
  for i in kwargs.values():
    new_word += ' '+str(i)
  return new_word

In [53]:
print(f'New Words = {word_concat(name="Deepanshu Kumar", age=29, phone_number=93058876, office="ExlService.com")}')

New Words =  Deepanshu Kumar 29 93058876 ExlService.com

In [47]:
word_concat(name='Deepanshu Kumar', age=29, phone_number=93058876, office='ExlService.com')

' Deepanshu Kumar 29 93058876 ExlService.com'

**Q3. What is an iterator in python? Name the method used to initialise the iterator object and the method used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20].**

In [60]:
l=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
for i in l:
  if l.index(i)<5:
    print(i)

2
4
6
8
10

**Q4. What is a generator function in python? Why yield keyword is used? Give an example of a generator function.**

In [62]:
#A generator function in Python is a special type of function that produces a sequence of values one at a time
#instead of returning them all at once. It uses the yield keyword instead of return.
def number_generator():
    yield 1
    yield 2
    yield 3

# Using the generator:
gen = number_generator()  # Returns a generator object

# Iterate using next():
print(next(gen))  # Output: 1
print(next(gen))  # Output: 2
print(next(gen))  # Output: 3

# or iterate using a for loop:
for number in number_generator():
    print(number)  # Output: 1, 2, 3

1
2
3
1
2
3

**Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the first 20 prime numbers.**

In [113]:
def prime_generator():
    # Generator for prime numbers less than 1000
    for num in range(2, 1000):  # Start checking from 2
        if all(num % i != 0 for i in range(2, int(num ** 0.5) + 1)):  # Prime check
            yield num  # Yield the prime number

In [114]:
gen_num=prime_generator()
for i in range(0, 21):
  print(next(gen_num))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73

**Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.**

In [70]:
num= 1
a, b= 0, 1
while num<=10:
  print(a)
  c=a+b
  a=b
  b=c
  num+=1

0
1
1
2
3
5
8
13
21
34

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.
Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [63]:
s='pwskills'
[i for i in s]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q8. Write a python program to check whether a given number is Palindrome or not using a while loop.

In [80]:
num = int(input('Enter a number here... '))  # Take input from the user
temp = num  # Store the original number
rev = 0

while num > 0:
    digi = num % 10  # Get the last digit
    rev = rev * 10 + digi  # Build the reversed number
    num = num // 10  # Use integer division to drop the last digit

# Check if the original number is the same as the reversed number
if temp == rev:
    print('Given number is Palindrome: {}, {}'.format(temp, rev))
else:
    print('Given number is not Palindrome: Original Number= {}, Reverse Number= {}'.format(temp, rev))

Enter a number here... 321
Given number is not Palindrome: Original Number= 321, Reverse Number= 123

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.
Note: Use a list comprehension to create a list from 1 to 100 and use another List comprehension to filter out odd numbers.

In [78]:
l=[i for i in range(1, 100)]
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [66]:
odd_numbers=[i for i in l if i%2!=0]

In [67]:
odd_numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]