In [1]:
#Q1. Explain with an example each when to use a for loop and a while loop.

In [16]:
#Example of For loop: write table of any number
n = int(input("Enter your number"))
result:1
for i in range(1,11):
    print(str(n)+" * "+str(i)+" = "+str(int(n*i)))

Enter your number 8

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [17]:
#Example of While loop: write even number between specific range
n = int(input("Enter any number"))
l=[]
i=0
while i<=n:
    if i%2==0:
        l.append(i)
    i=i+1
print("Total even number between 0 to "+str(n)+" :"+str(len(l)))

Enter any number 77

Total even number between 0 to 77 :39

In [5]:
#Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
#and while loop.

In [6]:
#With for loop
l=list(range(1,11))
sum, product=0,1
for i in l:
    sum=sum+i
    product=product*i
print("Sum of first 10 Natural Numbert: "+str(sum)) 
print("Product of first 10 Natural Numbert: "+str(product))

Sum of first 10 Natural Numbert: 55
Product of first 10 Natural Numbert: 3628800

In [7]:
#With While loop
n=10
sum, product, i=0, 1, 1
while i<=n:
    sum=sum+i
    product=product*i
    i=i+1
print("Sum of first 10 Natural Numbert: "+str(sum)) 
print("Product of first 10 Natural Numbert: "+str(product))

Sum of first 10 Natural Numbert: 55
Product of first 10 Natural Numbert: 3628800

In [8]:
#Q3. Create a python program to compute the electricity bill for a household.
#The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
#unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
#You are required to take the units of electricity consumed in a month from the user as input.

In [9]:
unit = int(input("Enter number of units of current month"))
if unit<=100:
    print("Total Electricity Bill Amount "+str(unit*4.5))
elif unit>100 and unit<=200:
        print("Total Electricity Bill Amount "+str(unit*6))
elif unit>200 and unit<=300:
     print("Total Electricity Bill Amount "+str(unit*10))
else:
    print("Total Electricity Bill Amount "+str(unit*20))

Enter number of units of current month 121

Total Electricity Bill Amount 726

In [10]:
#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.

In [11]:
#With for loop
l = list(range(1, 101))
l2 = []
for i in l:
    if (i*i*i)%4 == 0 or (i*i*i)%5 == 0:
        #print(i*i*i)
        l2.append(i*i*i)
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [12]:
#With While loop
l = list(range(1, 101))
l2 = []
i=1
while i <= 100:
    if (i*i*i)%4 == 0 or (i*i*i)%5 == 0:
        #print(i*i*i)
        l2.append(i*i*i)
    i=i+1
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [13]:
#Q5. Write a program to filter count vowels in the below-given string.
#string = "I want to become a data scientist"

In [18]:
#With for loop
s = 'I want to become a data scientist'
s1 = []
for i in s:
    if i=='A' or i=='a' or i=='E' or i=='e' or i=='I' or i=='i' or i=='o' or i=='O' or i=='U' or i=='u':
        #print(i)
        s1.append(i)
'Number of Vowels: '+ str(len(s1))

'Number of Vowels: 12'

In [19]:
#With while loop
s = 'I want to become a data scientist'
i=0
s1=[]
while i<len(s):
    if s[i]=='a' or s[i]=='e' or s[i]=='i' or s[i]=='o' or s[i]=='u' or s[i]=='A'or s[i]=='E' or s[i]=='I' or s[i]=='O' or s[i]=='U':
        #print(s[i])
        s1.append(s[i])
    i=i+1
'Number of Vowels: '+ str(len(s1))

'Number of Vowels: 12'